vaadin-form-layout{
    width: 80%
}
vaadin-text-field, vaadin-password-field, vaadin-email-field{
    margin-top: 15%
}
.formVerticalLayout{
    display:flex;
    align-items: center;
    background: #7699b3;
    border-radius: 12px;
    box-shadow: -2px 2px 20px 0px rgba(66, 68, 90,1);
    margin-top: 2%;
}
.changePasswordButton{
    cursor: pointer;
    margin-top: 5%;
}
.userIcon{
    width: 100%;
    height: 100%
}
.userIconDiv{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: #7699b3;
    display: flex;
    justify-content: center;
}
.pictureContainer{
    width: 100%;
    align-items: center;
}
.picture{
    margin-left: 5%;
    margin-right: 5%;
    width: 15%;
}
.deleteImageContainer{
    align-items: center;
}
.customUpload{
    display: flex;
    align-items: center;
    background: #b1d1e9;
    height: 45%;
    justify-content: center;
}
.uploadContainer{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
}