.BookMainPanel{
    height:100%;
    padding: 0;
}
.splitLayout{
    overflow-y: hidden;
}
vaadin-split-layout {
    width:100%;
    height:100%;
}
vaadin-grid{
    height: 100%;
}

vaadin-grid::part(header-cell){
    background:#565656;
    color: white;
}
vaadin-grid::part(body-cell){
    border: solid 0.2px #c9c9c9;
}

vaadin-grid::part(selected-row){
    background:#565656;
}
vaadin-grid::part(cell-content-checkbox){
    background:#565656;
}
vaadin-grid::part(row):hover{
    background:#565656;
}
.addButton{
    background: #565656;
    color: white;
    margin: 0;
}
.deleteButton{
     background: #565656;
     color: white;
     margin: 0;
}
.allBooksGrid{
   font-size: 12.5px;
}
vaadin-grid::part(cell){
    cursor: pointer;
}
.headerContainer{
    height: 50px;
    text-align: center;
}
.searchField{
    padding:0;
}


