.Category{
    height: 10%;
    padding:0;
    overflow: hidden;
}
.categoryTitle{
    font-size: 15px;
    background: #565656;
    width: 100%;
    color: white;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
    padding: 2px;
}
.header{
    align-items: center;
}
.overflowBackButton{
    background: #6789a4;
    color: white;
    font-weight: 100;
    width: 10px;
}
.mainTitle, .chooseInformation{
    font-size: 14px;
}
.line{
    background: #afa3a3;
    width 100%;
    height: 2px;
}
.listContainer{
    padding: 0;
    background:#dbdfe4;
}

