.LogInView {
    background-color: #233348;
}
.registrationContent{
    background-color: white;
    padding: 1.5rem;
}

.RegistryButton {
    background:  var(--lumo-primary-color);
    color: white;
    cursor: pointer;
}
vaadin-login-form-wrapper vaadin-text-field{
    padding: 0;
    margin-top: 15px;
}
