.sideNavButton{
    background: #7699b3;
    color: #405971;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    margin: 0;
    height: 30px
}
H1 {
    font-size: 16px;
    color: #405971;
}
.arrowDownIcon {
    font-size: 10px;
    margin-top: 3px;
}
.sideNav{
    height: 94.2vh;
}