vaadin-text-field{
    margin-top:0;
    padding: 10px;
}
.addNewUser{
    color: black;
}
.editAndSaveButton, .emptyFormButton, .deleteButton {
    color: black;
    margin-left: 10px;
}
.userHeader{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 25px;
}
.userContainer{
background: #7699b3;
    width: 75%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}